<template>
  <q-page class="q-pa-xl">
    <div class="text-h4">게시글 목록</div>
    <q-toolbar class="bg-primary text-white q-my-md shadow-2">
      <q-btn flat round dense icon="menu" class="q-mr-sm" />
      <q-separator dark vertical inset />
      <q-btn stretch flat label="LIST" />

      <q-space />

      <q-separator dark vertical />
      <q-btn icon="cached" stretch flat label="REFRESH" @click="refresh()" />
      <q-separator dark vertical />
      <q-btn icon="add" stretch flat label="ADD" to="/create" />
    </q-toolbar>
    <q-table
      flat
      bordered
      title="Board"
      :rows="posts"
      :columns="columns"
      row-key="name"
      selection="multiple"
      hide-pagination
      @row-click="rowClick"
      style="text-overflow: ellipsis !important"
    />
    <div class="q-pa-lg flex flex-center">
      <q-pagination
        v-model="params._page"
        :max="pageCount"
        direction-links
        boundary-links
        icon-first="skip_previous"
        icon-last="skip_next"
        icon-prev="fast_rewind"
        icon-next="fast_forward"
      />
    </div>
  </q-page>
</template>

<script setup>
import { computed, ref, watchEffect } from "vue";
import { getPosts } from "../../api/posts.js";
import { date } from "quasar";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";

let addCnt = 1;
const posts = ref([]);
const params = ref({
  _sort: "createdAt",
  _order: "desc",
  _page: 1,
  _limit: 5,
});

const router = useRouter();
function rowClick(evt, row) {
  const id = row.id;
  router.push({
    path: `/detail/${id}`,
    params: {
      id,
    },
  });
}
const $q = useQuasar();
let timer;
const refresh = () => {
  $q.loading.show();
  timer = setTimeout(() => {
    router.go(0);
    $q.loading.hide();
    timer = void 0;
  }, 500);
};

const totalCount = ref(0);
const pageCount = computed(() =>
  Math.ceil(totalCount.value / params.value._limit)
);

const fetchPosts = async () => {
  try {
    const { data, headers } = await getPosts(params.value);
    posts.value = data;

    posts.value.forEach((item, index) => {
      item.index =
        index +
        params.value._page * params.value._limit -
        (params.value._limit - 1);
    });
    totalCount.value = headers["x-total-count"];
  } catch (error) {
    console.error(error);
  }
};
watchEffect(fetchPosts);
</script>

<script>
const FORMAT = "YYYY-MM-DD HH:mm:ss";
const { formatDate } = date;
const columns = [
  {
    name: "Index",
    label: "No",
    align: "left",
    field: "index",
    sortable: true,
  },
  {
    name: "Subject",
    align: "left",
    label: "Subject",
    field: "title",
    sortable: true,
    style: "width: 50px",
    style: "width:100px; text-overflow: ellipsis !immportant",
  },
  {
    name: "Content",
    align: "left",
    label: "Content",
    field: "content",
    sortable: true,
    style: "width:100px; text-overflow: ellipsis",
  },
  {
    name: "Date",
    label: "Date",
    field: "createdAt",
    format: (createdAt) => `${formatDate(createdAt, FORMAT)}`,
    sortable: true,
    align: "center",
  },
];
</script>

<style lang="scss" scoped></style>
