<template>
  <q-page class="q-pa-xl">
    <div class="text-h4">게시글 수정</div>
    <q-toolbar class="bg-primary text-white q-my-md shadow-2">
      <q-btn flat round dense icon="update" class="q-mr-sm" />
      <q-separator dark vertical inset />
      <q-btn stretch flat label="Post" />

      <q-space />

      <q-separator dark vertical />
      <q-btn icon="menu" stretch flat label="LIST" to="/posts" />
      <q-separator dark vertical />
      <q-btn icon="cached" stretch flat label="INIT" @click="clear()" />
      <q-separator dark vertical />
      <q-btn icon="save" stretch flat label="SAVE" @click="submit()" />
    </q-toolbar>
    <q-input
      v-model="editForm.title"
      class="q-pb-md"
      outlined
      clearable
      color="blue-12"
      label="제목을 입력해 주세요."
      :shadow-text="inputShadowText"
      id="title"
    />
    <!-- <q-separator inset class="q-my-sm" /> -->
    <q-editor
      v-model="editForm.content"
      id="content"
      :definitions="{
        bold: { label: 'Bold', icon: null, tip: 'My bold tooltip' },
      }"
    />
  </q-page>
</template>

<script setup>
import { ref } from "vue";
import { getPostById, updatePost } from "../../api/posts.js";
import { useRoute, useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { Notify } from "quasar";

const $q = useQuasar();
Notify.setDefaults({
  position: "top",
  timeout: 2500,
  textColor: "white",
  actions: [{ icon: "close", color: "white" }],
});
const route = useRoute();
const router = useRouter();
const id = route.params.id;
let timer;

const editForm = ref({
  title: null,
  content: null,
  createdAt: null,
});

const fetchPosts = async () => {
  const { data } = await getPostById(id);
  setForm(data);
};
let reTitle = "";
let reContent = "";
const setForm = ({ title, content }) => {
  editForm.value.title = title;
  editForm.value.content = content;
  reTitle = title;
  reContent = content;
};
fetchPosts();

const clear = () => {
  editForm.value.title = reTitle;
  editForm.value.content = reContent;
};

const submit = () => {
  try {
    $q.loading.show();

    // hiding in 2s
    timer = setTimeout(() => {
      updatePost(id, { ...editForm.value, createdAt: Date.now() });
      $q.notify("수정되었습니다.");
      router.push({
        path: "/posts",
      });
      $q.loading.hide();
      timer = void 0;
    }, 2000);
  } catch (error) {
    console.error(error);
  }
};
</script>

<script>
export default {
  setup() {
    return {
      editor: ref(""),
    };
  },
};
</script>

<style lang="scss" scoped></style>
