<template>
  <q-page class="q-pa-xl">
    <div class="text-h4 q-pb-md">게시글 상세</div>
    <q-toolbar class="bg-primary text-white q-my-md shadow-2">
      <q-btn flat round dense icon="format_list_bulleted_add" class="q-mr-sm" />
      <q-separator dark vertical inset />
      <q-btn stretch flat label="DETAIL" />

      <q-space />

      <q-separator dark vertical />
      <q-btn icon="menu" stretch flat label="LIST" to="/posts" />
      <q-separator dark vertical />
      <q-btn icon="delete" stretch flat label="DELETE" @click="deleteData()" />
      <q-separator dark vertical />
      <q-btn icon="update" stretch flat label="MODIFY" @click="modifyPage()" />
    </q-toolbar>
    <q-card
      flat
      bordered
      class="my-card"
      :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-grey-2'"
    >
      <q-card-section>
        <div class="row items-center no-wrap">
          <div class="col">
            <div class="text-h6">{{ post.title }}</div>
            <div class="text-subtitle2">
              {{ formatDate(post.createdAt, FORMAT) }}
            </div>
          </div>

          <div class="col-auto">
            <q-btn color="grey-7" round flat icon="more_vert">
              <q-menu cover auto-close>
                <q-list>
                  <q-item clickable>
                    <q-item-section @click="deleteData()"
                      >Delete Post</q-item-section
                    >
                  </q-item>
                  <q-item clickable>
                    <q-item-section @click="modifyPage()"
                      >Modify Post</q-item-section
                    >
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </div>
      </q-card-section>
      <q-card-section style="word-break: break-all">
        {{ post.content }}</q-card-section
      >
    </q-card>
  </q-page>
</template>

<script setup>
import { getPostById } from "../../api/posts.js";
import { deletePost } from "../../api/posts.js";
import { ref } from "vue";
import { date } from "quasar";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { Notify } from "quasar";
const FORMAT = "YYYY-MM-DD HH:mm:ss";
const { formatDate } = date;
const $q = useQuasar();
Notify.setDefaults({
  position: "top",
  timeout: 2500,
  textColor: "white",
  actions: [{ icon: "close", color: "white" }],
});
const router = useRouter();
const post = ref({});
const props = defineProps({
  id: [String, Number],
});

const fetchPosts = async () => {
  const { data } = await getPostById(props.id);
  setPost(data);
};
const setPost = ({ title, content, createdAt }) => {
  post.value.title = title;
  post.value.content = content;
  post.value.createdAt = createdAt;
};
fetchPosts();

const modifyPage = () =>
  router.push({ path: `/edit/${props.id}`, params: { id: props.id } });
let timer;
const deleteData = () => {
  try {
    $q.dialog({
      title: "Delete",
      message: "게시물을 삭제하시겠습니까?",
      cancel: true,
      persistent: true,
    })
      .onOk(() => {
        $q.loading.show();

        // hiding in 2s
        timer = setTimeout(() => {
          deletePost(props.id);
          $q.notify("삭제되었습니다.");
          router.push({
            path: `/posts`,
          });
          $q.loading.hide();
          timer = void 0;
        }, 2000);
      })
      .onCancel(() => {
        return;
      });
  } catch (error) {
    console.error(error);
  }
};
</script>

<style lang="scss" scoped></style>
