<template>
  <q-page class="q-pa-xl">
    <div class="text-h4">게시글 등록</div>
    <q-toolbar class="bg-primary text-white q-my-md shadow-2">
      <q-btn flat round dense icon="save" class="q-mr-sm" />
      <q-separator dark vertical inset />
      <q-btn stretch flat label="Post" />

      <q-space />

      <q-separator dark vertical />
      <q-btn icon="menu" stretch flat label="LIST" to="/posts" />
      <q-separator dark vertical />
      <q-btn icon="cached" stretch flat label="INIT" @click="clear()" />
      <q-separator dark vertical />
      <q-btn icon="save" stretch flat label="SAVE" @click="submit()" />
    </q-toolbar>
    <q-input
      class="q-pb-md"
      v-model="newData.title"
      outlined
      clearable
      color="blue-12"
      label="제목을 입력해 주세요."
      :shadow-text="inputShadowText"
    />
    <!-- <q-separator inset class="q-my-sm" /> -->
    <q-editor
      v-model="newData.content"
      :definitions="{
        bold: { label: 'Bold', icon: null, tip: 'My bold tooltip' },
      }"
    />
  </q-page>
</template>

<script setup>
import { useRouter } from "vue-router";
import { createPost } from "../../api/posts.js";
import { useQuasar } from "quasar";
import { Notify } from "quasar";
const $q = useQuasar();
Notify.setDefaults({
  position: "top",
  timeout: 2500,
  textColor: "white",
  actions: [{ icon: "close", color: "white" }],
});
const router = useRouter();

let timer;
const newData = ref({ title: null, content: null });
const submit = () => {
  try {
    $q.dialog({
      title: "Save",
      message: "게시물을 등록하시겠습니까?",
      cancel: true,
      persistent: true,
    })
      .onOk(() => {
        $q.loading.show();

        // hiding in 2s
        timer = setTimeout(() => {
          createPost({
            ...newData.value,
            createdAt: Date.now(),
          });
          $q.notify("등록되었습니다.");
          router.push({
            path: `/posts`,
          });
          $q.loading.hide();
          timer = void 0;
        }, 2000);
      })
      .onCancel(() => {
        return;
      });
  } catch (error) {
    console.error(error);
  }
};

const clear = () => {
  newData.value.title = "";
  newData.value.content = "";
};
</script>

<script>
import { ref } from "vue";

export default {
  setup() {
    return {
      editor: ref(""),
    };
  },
};
</script>

<style lang="scss" scoped></style>
